contact{
    display: flex ; justify-content: space-evenly
        }
        .end{
            background:black ; color: white; text-align: center ; border: black solid 1px ; 
            margin-top: 100px;padding-bottom: +50px
        }
        .ics{
            text-decoration: none ; font-size: 40px ; color: white; 
        }
        .contact{
            display: flex ;justify-content: space-evenly ; align-items: center; text-decoration: none
        }
        .copy{
            align-content: center ; margin-top: 50px ; font-size: 10px
        }